<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Everyday Sensei</title>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<!-- Styling -->
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
		<link rel="reset" href="/public/css/reset.css" type= "text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
	<script src="../../public/js/senseiSubmit.js"></script>
	<script src="../../public/js/studentSubmit.js"></script>
	<script src="../../public/js/login.js"></script>
</html>
