<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <a class="btn btn-outline-success" href="login" type="button">Login</a>
  </form>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Welcome to Everyday Sensei</h1>
  <p class="lead">An online platform promoting lifelong learning by connecting students with locally skilled masters of their craft.</p>
  <hr class="my-4">
  <p>Sign up below!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="sensei" role="button">I am a Sensei</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="student" role="button">I am a Student</a>
  </p>
</div>