{{!-- Profile info --}}
<div class = "container">
  <div class="row">
<div class="card" id ="profile" style="width: 18rem;">
  <img class="card-img-top" src="/public/images/man-trimming-the-plants-3833591.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Stewart Rodney - Cleveland, OH</h5>
    <p class="card-text">Hello everyone! I am a skilled woodworker with a passion for raised garden beds!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Woodworking</li>
    <li class="list-group-item">Gardening</li>
    <li class="list-group-item">Bicycles</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Update Location</a>
  </div>
</div>
</div>
</div>
{{!-- Local Classes Option one--}}
<div class="container">
<div class="row">
  <div class="col-sm">
    <div class="card" id ="classes">
      <div class="card-body">
        <h5 class="card-title">Upcoming Classes</h5>
        <p class="card-text">Monday 5pm</p>
        <p class="card-text">Wednesday 5pm</p>
        <p class="card-text">Friday 5pm</p>
        {{!-- <a href="#" class="btn btn-primary">Change My Availability</a> --}}
      </div>
    </div>
  </div>
 
  <div class="row">
      {{!-- Option two --}}
  <div class="col-sm">
    <div class="card" id="credits">
      <div class="card-body">
        <h5 class="card-title">Credits</h5>
        <h1><span class="badge badge-secondary">55</span></h1>
        <a href="#" class="btn btn-primary">Add Credits</a>
      </div>
    </div>
  </div>

  <div class="row">
      {{!-- Option three --}}
  <div class="col-sm">
    <div class="card" id="rating">
      <div class="card-body">
        <h5 class="card-title">Sensei Rating</h5>
        <h1><span class="badge badge-secondary">9</span></h1>
        {{!-- <a href="#" class="btn btn-primary">Sign Up</a> --}}
      </div>
    </div>
    </div>
  </div>