<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmailSen" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPwSen" placeholder="Password">
    </div>
  </div>
  <div class="form-group">

    {{! --name submission-- }}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName4">Name</label>
        <input type="name" class="form-control" id="nameSen" placeholder="Last, First">
      </div>
    </div>
    <div class="form-group">

      {{!-- Upload A Photo Button --}}
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Upload a Profile Picture</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        {{!-- Add Bio --}}
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Add Bio</label>
          <textarea class="form-control" id="bioSen" rows="3"></textarea>
        </div>
      </form>
      {{!-- Checkbox for geolocate permission --}}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="geoCheck">
        <label class="form-check-label" for="gridCheck">
          Use my current location
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="input-group mb-3">
      {{!-- Add Skills/Interests Input --}}
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary">Add</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" id='#interestSen' href="#">Interest</a>
            <a class="dropdown-item" id='#skillSen' href="#">Skill</a>
          </div>
        </div>
      </div>

    </div>
    <button type="submit" id="senseiSign" class="btn btn-primary">Sign up</button>
</form>