<form id="sensei">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmailSen" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPwSen" placeholder="Password">
    </div>
  </div>
  <div class="form-group">

    {{! --name submission-- }}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName4">Name</label>
        <input type="name" class="form-control" id="nameSen" placeholder="Last, First">
      </div>
    </div>
    <div class="form-group">

      {{!-- Upload A Photo Button --}}
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Upload a Profile Picture</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        {{!-- Add Bio --}}
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Add Bio</label>
          <textarea class="form-control" id="bioSen" rows="3"></textarea>
        </div>
      </form>
      {{!-- Checkbox for geolocate permission --}}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="geoCheck">
        <label class="form-check-label" for="gridCheck">
          Use my current location
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>
          <option>AL</option>
          <option>AK</option>
          <option>AS</option>
          <option>AZ</option>
          <option>AR</option>
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>DC</option>
          <option>FM - Federated States of Micronesia</option>
          <option>FL</option>
          <option>GA</option>
          <option>HI</option>
          <option>ID</option>
          <option>IL</option>
          <option>IN</option>
          <option>IA</option>
          <option>KS</option>
          <option>KY</option>
          <option>LA</option>
          <option>ME</option>
          <option>MH - Marshall Islands</option>
          <option>MD</option>
          <option>MA</option>
          <option>MI</option>
          <option>MN</option>
          <option>MS</option>
          <option>MO</option>
          <option>MT</option>
          <option>NE</option>
          <option>NV</option>
          <option>NH</option>
          <option>NJ</option>
          <option>NM</option>
          <option>NY</option>
          <option>NC</option>
          <option>ND</option>
          <option>MP - Northern Mariana Islands</option>
          <option>OH</option>
          <option>OK</option>
          <option>OR</option>
          <option>PW - Palau</option>
          <option>PA</option>
          <option>PR</option>
          <option>RI</option>
          <option>SC</option>
          <option>SD</option>
          <option>TN</option>
          <option>TX</option>
          <option>UT</option>
          <option>VT</option>
          <option>VI</option>
          <option>VA</option>
          <option>WA</option>
          <option>WV</option>
          <option>WI</option>
          <option>WY</option>
          </option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="input-group mb-3">
      {{!-- Add Skills/Interests Input --}}
      <div class="input-group">
        <input type="text" class="form-control" placeholder="What would you like to teach?"
          aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
          <form action="/skill/create" method="POST">
          <button type="button" class="btn btn-outline-secondary">Add</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" id='interestSen' href="#">Interest</a>
            <a class="dropdown-item" id='skillSen' href="#">Skill</a>
          </div>
        </div>
      </div>
      </form>
    </div>
   
      <button type="submit" id="senseiSign" class="btn btn-primary">Sign up</button>
    

    <script src="../public/js/senseiSubmit.js"></script>