  {{!-- Upload A Photo Button --}}
    <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Change Profile Picture</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

 <div class="form-group">
    <label for="exampleFormControlTextarea1">Update Bio</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-secondary">Add</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Interest</a>
      <a class="dropdown-item" href="#">Skill</a>
    </div>
  </div>
</div>

</div>
  <button type="submit" class="btn btn-primary">Update Profile</button>
</form>