html,
body {
  height: 100%;
  background-color: rgb(24, 34, 41);
}

h1 {
  color: rgb(30, 58, 76);
  
}
.card {
  padding: 5px;
  display: grid;
  
}
#login{
  color: #E74C33;
}
#sensei{
  color: aliceblue
}
#profile {
    display: block;
    contents: fit-content;
   -ms-flex-preferred-size: 98%;
         flex-basis: 98%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: grid;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     margin: 1%;
  
}

#classes {
  position:relative;

}
#credits {
  position: relative;
  width: fit-content;
  float: right;
}
#rating {
  position: relative;
  width: fit-content;
}